In [103]:
import numpy as np
import pandas as pd

In [104]:
np.__version__

'1.20.1'

In [105]:
data = pd.read_csv('data.csv')

In [106]:
data.shape[0]

11914

In [109]:
data['Make'].value_counts().head(n=3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [110]:
data[data['Make']=='Audi']['Model'].nunique()

34

In [112]:
data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [113]:
(data.isnull().sum() != 0).sum()

5

In [114]:
data['Engine Cylinders'].value_counts()

4.0     4752
6.0     4489
8.0     2031
12.0     230
5.0      225
10.0      68
0.0       56
3.0       30
16.0       3
Name: Engine Cylinders, dtype: int64

In [115]:
median_engine_cyl = data['Engine Cylinders'].median()
median_engine_cyl

6.0

In [118]:
mode_engine_cyl = data['Engine Cylinders'].mode()[0]
mode_engine_cyl

4.0

In [121]:
data['Engine Cylinders'].fillna(mode_engine_cyl).median()

6.0

In [127]:
lotus_df = data[data['Make'] == 'Lotus']
lotus_df = lotus_df[['Engine HP', 'Engine Cylinders']]
lotus_df = lotus_df.drop_duplicates()
lotus_df

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [128]:
X = lotus_df.to_numpy()
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [129]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [130]:
w = (XTX_inv @ X.T) @ y

In [131]:
w[0]

4.594944810094551